*.o
Makefile
*.moc
*.moc.cpp
autom4te.cache/
config.h.in~
doc/en/index.cache.bz2
src/.deps/
src/acquisitionsystemlayout.cpp
src/acquisitionsystemlayout.h
src/anatomylayout.cpp
src/anatomylayout.h
src/channelcolorslayout.cpp
src/channelcolorslayout.h
src/channeloffsetslayout.cpp
src/channeloffsetslayout.h
src/clusterslayout.cpp
src/clusterslayout.h
src/filelayout.cpp
src/filelayout.h
src/generalinfolayout.cpp
src/generalinfolayout.h
src/launcherlayout.cpp
src/launcherlayout.h
src/lfplayout.cpp
src/lfplayout.h
src/ndmanager
src/neuroscopemisclayout.cpp
src/neuroscopemisclayout.h
src/neuroscopevideolayout.cpp
src/neuroscopevideolayout.h
src/parameterlayout.cpp
src/parameterlayout.h
src/spikelayout.cpp
src/spikelayout.h
src/videolayout.cpp
src/videolayout.h

