# KDE3: /usr/share/apps/konqueror/servicemenus/
[Desktop Entry]
ServiceTypes=inode/directory
Actions=check

[Desktop Action check]
Name=Check for NDManager
Icon=ndmanager
Exec=ndm_checkconsistency %U
