<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ndmanager" version="1">
<State name="initState" >
  <Disable>
	<Action name="reload" />
   <Action name="file_save" />
   <Action name="file_save_as" />
   <Action name="file_close" />
	<Action name="save_as_default" />
   <Action name="processingManager" />
   <Action name="expert" />
  </Disable>
  <Enable>
    <Action name="file_new" />
    <Action name="file_open" />
    <Action name="file_open_recent" />
    <Action name="import" />
	 <Action name="query" />
  </Enable>
 </State>

 <State name="documentState" >
  <Enable>
	<Action name="reload" />
   <Action name="file_save" />
   <Action name="file_save_as" />
   <Action name="file_close" />
   <Action name="save_as_default" />
	<Action name="query" />
   <Action name="processingManager" />
   <Action name="expert" />
  </Enable>
 </State>
 
 <State name="showManager" >
  <Enable>
   <Action name="processingManager" />
  </Enable>
 </State>

 <State name="hideManger" >
  <Disable>
   <Action name="processingManager" />
  </Disable>
 </State>
 
 <MenuBar>
  <Menu name="file" >
   <Action append="open_merge" name="import" />
	<Action append="save_merge" name="save_as_default" />
	<Action append="save_merge" name="reload" />
  </Menu>  
  
  <Menu name="actions_menu" >
   <text>&amp;Actions</text>
   <Action name="processingManager" />
	<Separator/>
	<Action name="query" />
  </Menu>
  
  <Menu name="settings" >
   <Separator/>
   <Action name="expert" />
  </Menu>
  
  <Merge/>
 </MenuBar> 
</kpartgui>
