[Desktop Entry]
Type=Application
Name=NDManager
GenericName=Manager for neurophysiological and behavioral data
Comment=
Icon=ndmanager
Exec=ndmanager %u
MimeType=application/nphys-xml;
Categories=Qt;Education;Science;
