#!/usr/bin/make -f

#export DH_VERBOSE=1
export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

LIBS = libavutil libavcodec libpostproc libavformat libswscale
confflags += --enable-gpl --enable-pp --enable-swscaler --enable-pthreads
confflags += --enable-libvorbis --enable-libtheora --enable-libogg --enable-libgsm

DEB_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: //p')

ifneq (,$(findstring linux,$(DEB_HOST_GNU_TYPE)))
  confflags += --enable-dc1394
  lib1394-dev = libraw1394-dev, libdc1394-13-dev
  FIREWIRELIBS="-lraw1394 -ldc1394_control"
else
  lib1394-dev =
  FIREWIRELIBS=""
endif
ifneq (,$(findstring powerpc,$(DEB_BUILD_GNU_TYPE)))
  extradoc = doc/ffmpeg_powerpc_performance_evaluation_howto.txt
endif

ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
  confflags += --disable-debug
endif
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  # This hack is necessary because GCC won't build fdct_mmx.c with -O0
  confflags += --extra-cflags="-O1"
endif
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  confflags += --disable-strip
endif

ifneq (,$(findstring risky,$(DEB_BUILD_OPTIONS)))
weak-build-deps += liblame-dev
confflags += --enable-libmp3lame
weak-build-deps += libfaad2-dev
confflags += --enable-libfaadbin --enable-libfaad
weak-build-deps += libfaac-dev
confflags += --enable-libfaac
weak-build-deps += libxvidcore-dev
confflags += --enable-xvid
$(warning Make sure these packages are installed: $(weak-build-deps))
endif

build: build-stamp
build-stamp:
	dh_testdir
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	
	# Build and backup static libraries
	./configure $(confflags) --disable-ffmpeg --disable-vhook --disable-ffserver --disable-ffplay --prefix=/usr
	$(MAKE) -C doc
	$(MAKE)
	for d in $(LIBS); do mv $$d/$$d.a $$d/$$d.a.bak; done
	
	# Build ffmpeg and shared libraries
	./configure $(confflags) --enable-shared --prefix=/usr
	sed 's/ldts/ldts_pic/' <config.mak >config.mak.pic
	echo 'CFLAGS += -fPIC -DPIC' >> config.mak.pic
	for d in $(LIBS); do \
	  $(MAKE) -C $$d clean && \
	  rm -f $$d/Makefile.pic && \
	  sed 's/config.mak/&.pic/' <$$d/Makefile >$$d/Makefile.pic && \
	  $(MAKE) -C $$d -f Makefile.pic && \
	  rm -f $$d/Makefile.pic ; \
	done
	rm -f config.mak.pic
	
	# Restore static libraries and fix timestamps
	for d in $(LIBS); do \
	  mv $$d/$$d.a.bak $$d/$$d.a ; \
	  touch $$d/$$d.a ; \
	done
	touch ffmpeg ffmpeg_g ffplay ffplay_g
	
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	-$(MAKE) -C tests
endif
	
	# Make qt-faststart
	$(MAKE) qt-faststart
	
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) -C doc clean
	-$(MAKE) -C tests clean
	-$(MAKE) distclean
	QUILT_PATCHES=debian/patches quilt pop -a -R || test $$? = 2
	for d in $(LIBS); do \
	  rm -f $$d/Makefile.pic $$d/$$d.a.bak $$d-unistalled.pc $$d.pc ; \
	done
	rm -f config.log
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -ptmp usr/share/doc/ffmpeg/html etc usr/include/ffmpeg usr/lib usr/bin usr/share/man/man1 usr/include/postproc
	
	$(MAKE) install DESTDIR=`pwd`/debian/tmp/ mandir=`pwd`/debian/tmp/usr/share/man
	cp libavcodec/dsputil.h debian/tmp/usr/include/ffmpeg
	cp libpostproc/libpostproc.a debian/tmp/usr/lib
	cp libpostproc/postprocess.h debian/tmp/usr/include/postproc
	cp libpostproc.pc debian/tmp/usr/lib/pkgconfig/
	for d in $(LIBS); do cp $$d/$$d.so* debian/tmp/usr/lib; done
	cp doc/*.html debian/tmp/usr/share/doc/ffmpeg/html/
	cp doc/ffserver.conf debian/tmp/etc/
	
	sed -e s/@FIREWIRELIBS@/$(FIREWIRELIBS)/ -e s/@VERSION@/$(DEB_VERSION)/ ffmpeg-config.in > debian/tmp/usr/bin/ffmpeg-config
	chmod 644 debian/tmp/usr/bin/ffmpeg-config
	cp ffmpeg-config.1 debian/tmp/usr/share/man/man1/ffmpeg-config.1
	cp qt-faststart debian/tmp/usr/bin/qt-faststart
	
	dh_install --fail-missing --sourcedir=debian/tmp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs $(extradoc) doc/optimization.txt
	dh_installdocs -A MAINTAINERS CREDITS doc/TODO debian/patents.txt debian/README.Debian
	dh_installexamples -pffmpeg doc/ffserver.conf
	dh_installexamples -plibavcodec-dev libavcodec/apiexample.c
	dh_installmenu
	dh_installcron
	dh_installinfo
	dh_installmime
	dh_installchangelogs Changelog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	for d in $(LIBS); do \
	  dh_makeshlibs -p $${d}1d -V "$${d}1d (>= 0.cvs20070307)" ; \
	done
	dh_installdeb
	dh_shlibdeps -L libavutil1d -L libavcodec1d -L libpostproc1d -L libavformat1d -L libswscale1d -l debian/libavutil1d/usr/lib:debian/libavcodec1d/usr/lib:debian/libavformat1d/usr/lib:debian/libpostproc1d/usr/lib:debian/libswscale1d/usr/lib
	dh_gencontrol -- -Vlib1394-dev="$(lib1394-dev)"
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
